*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}
.text-right{
      text-align:right;
}
.backdrop1{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.7);

}



